/* HERO ABOUT PAGE -------------------------------------------------------------------- */

.hero {
    background: white;
    color: black;
    margin: 90px;
} 

.avatar {
    display: flex;
    justify-content: flex-end;
}

h1 {
    margin: 24px;
}

.rectangle1 {
    display: inline-flex;
    background: #9008F4;
    border-radius: 6px;
    width: 100px;
    height: 7px;
}

.myskills {
    display: inline-flex;
    margin: 20px;
}

.skills {
    display: flex;
    flex-flow: row wrap;
    margin: 74px;
}

.skill {
    flex-grow: 1;
    flex-basis: 33%;
    padding: 16px;
    
}

.rectangle2 {
    display: inline-flex;
    background: #9008F4;
    border-radius: 6px;
    width: 100px;
    height: 7px;
    
}
.designtools {
    display: inline-flex;
    margin: 20px;
}

.tools-list p {
    flex-grow: 1;
    flex-basis: 33%;
    margin-inline-start: 120px;
}

.rectangle3 {
    display: inline-flex;
    background: #9008F4;
    border-radius: 6px;
    width: 100px;
    height: 7px;
    
}
.photography {
    display: inline-flex;
    margin: 20px;
}

main {
    width: 100%;

}

.grid-container-cols-12 {
    display: grid;
    grid-template-columns: repeat(12);
    width: 100%;
}

.photo1 {
    grid-column: 2 / 5;
}

.photo2 {
    grid-column: 5 / 8;
}

.photo3 {
    grid-column: 8 / 11;
}

.photo4 {
    grid-column: 2 / 5;
}

.photo5 {
    grid-column: 5 / 8;
}

.photo6 {
    grid-column: 8 / 11;
}