@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;600&family=Lora:wght@700&family=Montserrat:wght@600;700&display=swap');

/* Boilerplate stuff --------------------- */

body {
    height: 100vh;
    margin: 0;
    padding: 0%;
    font-family: 'Hind Madurai', sans-serif;
    box-sizing: border-box;
}

:root {
    --purple: #9008f4;
}

.purple {
    color: var(--purple);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 120px;
    font-weight: 700;
}
h2 {
    font-family: 'Lora', serif;
    font-size: 50px;
    font-weight: 700;
    color: #9008f4;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
}
h4 {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 30px;
    font-weight: 600;
}
h5 {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 22px;
    font-weight: 300;
}
p {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 19px;
    font-weight: 300;
}

button {
    background-color: white;
    border: none;
    color: var(--purple);
    font-size: 22px;
    font-weight: 400;
    padding: 8px 0px;
    border-radius: 24px;
    transition: 240ms;
    border: none;
}
button:hover {
    background-color: var(--purple);
    padding: 8px 24px;
    color: white;
}

img {
    width: 100%
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

/* Navigation --------------------- */



nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 9% 9% 9%;
    background: transparent 98%;
    background-color: white;
}

.nav-item {
    padding: 16px;
    color: black;
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 300;
    font-size: 22px;
}

.logo {
    color: black;
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 31px;
   
}

/* Hero --------------------- */

#hero {
    display: flex;
    justify-content: flex-start;
    margin: 0 12% 0% 12%;

}

#case-studies {
    display: flex;
    justify-content: flex-start;
    margin: 0 12% 0% 12%;
    padding-top: 90px;
    padding-bottom: 90px;

}

.case-study-heading:before {
    background-color: var(--purple);
    content: "";
    display: inline-block;
    height: 6px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    border-radius: 24px;
}

/* JQUERY --------------------- */

.back-to-top {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    background-color: var(--purple);
    padding: 10px;
    color: white;
    border-radius: 24px;
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.back-to-top:hover {
    background-color: white;
    color: var(--purple)
}


/* Grid --------------------- */

.case-study-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

.thumbnail {
    grid-column: 2 / 7;
    margin-top: 80px;
}

.details {
    grid-column: 8 / 12;
    padding-bottom: 100px;
}




/* FOOTER -----------------------------------------------*/

footer div {
    display: flex;
    width: 100%;
    bottom: 50px;
    justify-content: center;
     
  }

  .name {
    border-top: 1px solid var(--purple);
    margin-top: 100px;
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
  }

  .title {
    padding-bottom: 15px;
    font-family: 'Lora', serif;
    font-size: 19px;
    font-weight: 500;
  }

  .strapline {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 20px;
    font-weight: 300;
  }

  .email a {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 19px;
    font-weight: 300;
    color: #9008f4;
    
  }

.socials {
    display: flex;
    justify-content: center;
  

}